*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (width < 800px) {
  h2{
    color: blue;
  }
}


@media screen and (width > 800px) {
  h2{
    color: green;
  }
}